.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-visible-slider{
    display: none;
}

.tables-visible-slider {
    display: none;
}

.tables-visible-row {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.plans-visible-row {
    display: block;
}